<main class="container-fluid py-4">

    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">

            <div class="row mb-3">
                <input type="hidden" id="idcot" value="<%= datacot.cabafiliado.id_cot %>">
                <div class="col-md-2">
                    <label>Nro Poliza</label>
                    <input type="text" class="form-control" id="numpol" value="<%= datacot.cabafiliado.num_pol %>"
                        disabled>
                </div>
                <div class="col-md-2">
                    <label>Fecha Emisión</label>
                    <input type="date" class="form-control" id="fecemi" value="<%= datacot.cabafiliado.fec_emision %>"
                        disabled>
                </div>
                <div class="col-md-2">
                    <label>CUSPP</label>
                    <input type="text" class="form-control" id="cussp" value="<%= datacot.cabafiliado.num_cuspp %>"
                        disabled>
                </div>
                <div class="col-md-2">
                    <label>Nro Cotizacion</label>
                    <input type="text" class="form-control" id="numcot" value="<%= datacot.cabafiliado.num_cot %>"
                        disabled>
                </div>
                <div class="col-md-2">
                    <label>Nro Operación</label>
                    <input type="text" class="form-control" id="numope" value="<%= datacot.cabafiliado.num_operacion %>"
                        disabled>
                </div>
                <div class="col-md-2">
                    <label>Ingreso SPP</label>
                    <input type="date" class="form-control" id="fecspp"
                        value="<%= datacot.cabafiliado.fec_ingresospp %>">
                </div>
            </div>
        </div>

        <div class="card-body">
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="polizasTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="afiliado-tab" data-bs-toggle="tab" data-bs-target="#afiliado"
                        type="button" role="tab">Datos de Afiliado</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="domicilio-tab" data-bs-toggle="tab" data-bs-target="#domicilio"
                        type="button" role="tab">Domicilio</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="poliza-tab" data-bs-toggle="tab" data-bs-target="#poliza" type="button"
                        role="tab">Datos de la Poliza</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pagos-tab" data-bs-toggle="tab" data-bs-target="#pagos" type="button"
                        role="tab">Formas de Pago Pension</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="beneficiarios-tab" data-bs-toggle="tab" data-bs-target="#beneficiarios"
                        type="button" role="tab">Beneficiarios</button>
                </li>
            </ul>

            <div class="tab-content p-3 border border-top-0 rounded-bottom bg-light" id="polizasTabContent">
                <!-- AFILIADO -->
                <div class="tab-pane fade show active" id="afiliado" role="tabpanel">
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            <label>Tipo de Documento</label>
                            <select class="form-control" disabled>
                                <% tipodoc.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>" <%=doc.v_cod==datacot.cabafiliado.id_tipodociden
                                        ? 'selected' : '' %>>
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Documento</label>
                            <input type="text" class="form-control" value="<%= datacot.cabafiliado.num_dociden %>"
                                disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Género</label>
                            <select class="form-control" disabled>
                                <% tiposex.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>" <%=doc.v_cod==datacot.cabafiliado.id_sexo
                                        ? 'selected' : '' %>>
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Nacionalidad</label>
                            <select class="form-control" required>
                                <option value="1">PERUANA</option>
                                <option value="2">EXTRANJERA</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            <label>Apellido Paterno</label>
                            <input type="text" class="form-control" value="<%= datacot.cabafiliado.des_apepaterno %>"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Apellido Materno</label>
                            <input type="text" class="form-control" value="<%= datacot.cabafiliado.des_apematerno %>"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Primer Nombre</label>
                            <input type="text" class="form-control" value="<%= datacot.cabafiliado.des_nombre %>"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Segundo Nombre</label>
                            <input type="text" class="form-control"
                                value="<%= datacot.cabafiliado.des_nombresegundo %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            <label>Fecha de Nacimiento</label>
                            <input type="date" class="form-control"
                                value="<%= datacot.cabafiliado.fec_nacimiento ? datacot.cabafiliado.fec_nacimiento.toString().substring(0, 10) : '' %>"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Fecha de Fallecimiento</label>
                            <input type="date" class="form-control"
                                value="<%= datacot.cabafiliado.fec_fallecimiento ? datacot.cabafiliado.fec_fallecimiento.toString().substring(0, 10) : '' %>"
                                required>
                        </div>
                    </div>
                </div>

                <!-- DOMICILIO -->
                <div class="tab-pane fade" id="domicilio" role="tabpanel">

                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Dirección Expediente</label>
                            <input type="text" class="form-control" placeholder="Escribe una dirección...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ubigeo Expediente</label>
                            <div class="input-group mb-2">
                                <input type="text" id="txtUbigeoExp" class="form-control"
                                    placeholder="Ubigeo correspondencia..." readonly>
                                <button type="button" class="btn btn-outline-info btnUbigeo" data-bs-toggle="modal"
                                    data-bs-target="#modalUbigeo" data-targetinput="txtUbigeoExp">
                                    <i class="fas fa-map-marker-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Dirección Correspondencia</label>
                            <input type="text" class="form-control" placeholder="Escribe una dirección...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ubigeo Correspondencia</label>
                            <div class="input-group mb-2">
                                <input type="text" id="txtUbigeoCor" class="form-control"
                                    placeholder="Ubigeo correspondencia..." readonly>
                                <button type="button" class="btn btn-outline-info btnUbigeo" data-bs-toggle="modal"
                                    data-bs-target="#modalUbigeo" data-targetinput="txtUbigeoCor">
                                    <i class="fas fa-map-marker-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label>Correo Electrónico</label>
                            <input type="email" class="form-control" placeholder="Escribe un email..." required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Correo Electrónico 2</label>
                            <input type="email" class="form-control" placeholder="Escribe un email..." required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Correo Electrónico 3</label>
                            <input type="email" class="form-control" placeholder="Escribe un email..." required>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" placeholder="Escribe un numero...">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Teléfono 2</label>
                            <input type="text" class="form-control" placeholder="Escribe un numero...">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Teléfono 3</label>
                            <input type="text" class="form-control" placeholder="Escribe un numero...">
                        </div>
                    </div>
                </div>

                <!-- POLIZA -->
                <div class="tab-pane fade" id="poliza" role="tabpanel">
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            <label>Tipo Pensión</label>
                            <select class="form-control" disabled>
                                <% tipoPen.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>" <%=doc.v_cod==datacot.cabafiliado.id_prestacion
                                        ? 'selected' : '' %>>
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Fec Invalidez</label>
                            <input type="date" class="form-control"
                                value="<%= datacot.cabafiliado.fec_invalido ? datacot.cabafiliado.fec_invalido.toString().substring(0, 10) : '' %>"
                                disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Causa Invalidez</label>
                            <select class="form-control" disabled>
                                <option>Sin Información</option>
                                <% tipoEnf.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>">
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Tipo Vejez</label>
                            <select class="form-control" disabled>
                                <option>Sin Información</option>
                                <% tipoVej.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>" <%=doc.v_cod==datacot.cabafiliado.id_tipobenef
                                        ? 'selected' : '' %>>
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            <label>AFP</label>
                            <select class="form-control" disabled>
                                <% tipoAfp.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>" <%=doc.v_cod==datacot.cabafiliado.id_afp
                                        ? 'selected' : '' %>>
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Est. Civil</label>
                            <select class="form-control">
                                <% tipoCiv.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>" <%=doc.v_cod==datacot.cabafiliado.id_estciv
                                        ? 'selected' : '' %>>
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Ins. Salud</label>
                            <select class="form-control">
                                <% tipoEss.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>">
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Representante</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            <label>Fec. aceptación</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Marcar :</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="autoPropio" name="autoPropio"
                                    value="1">
                                <label class="form-check-label" for="autoPropio">Protección de Datos</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="autoPropio" name="autoPropio"
                                    value="1">
                                <label class="form-check-label" for="autoPropio">Boleta de Pago</label>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- PAGOS -->
                <div class="tab-pane fade" id="pagos" role="tabpanel">
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            <label>Vía Pago</label>
                            <select class="form-control">
                                <% tipoPag.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>">
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Sucursal</label>
                            <select class="form-control">
                                <% tipoAfp.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>">
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Banco</label>
                            <select class="form-control">
                                <% tipoBco.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>">
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Tipo Cuenta</label>
                            <select class="form-control">
                                <% tipocta.forEach(function(doc) { %>
                                    <option value="<%= doc.v_cod %>">
                                        <%= doc.v_nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            <label>Número Cuenta</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Número CCI</label>
                            <input type="text" class="form-control" required>
                        </div>
                    </div>
                </div>

                <!-- BENEFICIARIOS -->
                <div class="tab-pane fade" id="beneficiarios" role="tabpanel">
                    <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                        <table class="table table-bordered table-hover align-middle text-center"
                            id="tablaBeneficiarios">
                            <thead class="table-light sticky-header">
                                <tr>
                                    <th>N° Orden</th>
                                    <th>Parentesco</th>
                                    <th>Nombres</th>
                                    <th>Tipo Doc.</th>
                                    <th>Nro Doc.</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                               <!--  <% if (datacot.detbeneficiarios && datacot.detbeneficiarios.length> 0) { %>
                                    <% datacot.detbeneficiarios.forEach(function(b, index) { %>
                                        <tr>
                                            <td>
                                                <%= b.id_orden %>
                                            </td>
                                            <td>
                                                <%= b.desparentesco %>
                                            </td>
                                            <td>
                                                <%= b.nombres %>
                                            </td>
                                            <td>
                                                <%= b.destipodoc %>
                                            </td>
                                            <td>
                                                <%= b.numdoc %>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-primary editar-beneficiario"
                                                    data-id="<%= b.id_orden %>">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="5" class="text-muted">No hay beneficiarios registrados
                                                    </td>
                                                </tr>
                                                <% } %> -->
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <ul class="nav nav-tabs" id="benefTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="benef-tab" data-bs-toggle="tab" data-bs-target="#benef"
                                type="button" role="tab">Datos de Beneficiario</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="domicilioben-tab" data-bs-toggle="tab"
                                data-bs-target="#domicilioben" type="button" role="tab">Datos Domicilio, correo y
                                telefono</button>
                        </li>
                    </ul>
                    <div class="tab-content p-3 border border-top-0 rounded-bottom bg-light" id="benefTabContent">
                        <div class="tab-pane fade show active" id="benef" role="tabpanel">
                            <div class="row mb-3">
                                <div class="form-group col-md-3">
                                    <label>Tipo Ident.</label>
                                    <select class="form-control" id="tipodocben">
                                        <% tipodoc.forEach(function(doc) { %>
                                            <option value="<%= doc.v_cod %>">
                                                <%= doc.v_nombre %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>N° Ident.</label>
                                    <input type="text" class="form-control" id="numeroidenben">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Primer Nombre</label>
                                    <input type="text" class="form-control" id="nombreben">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Segundo Nombre</label>
                                    <input type="text" class="form-control" id="nombresegben">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-3">
                                    <label>Ap. Paterno</label>
                                    <input type="text" class="form-control" id="apepatben">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Ap. Materno</label>
                                    <input type="text" class="form-control" id="apematben">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Grupo Familiar</label>
                                    <select class="form-control" id="grupofamben" disabled>
                                        <% tipoGru.forEach(function(doc) { %>
                                            <option value="<%= doc.v_cod %>">
                                                <%= doc.v_nombre %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Género</label>
                                    <select class="form-control" id="sexoben" disabled>
                                        <% tiposex.forEach(function(doc) { %>
                                            <option value="<%= doc.v_cod %>">
                                                <%= doc.v_nombre %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-3">
                                    <label>Fec. Nac.</label>
                                    <input type="date" class="form-control" id="nacimientoben" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Fec. Fall.</label>
                                    <input type="date" class="form-control" id="fallecimientoben">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Sit. Invalidez</label>
                                    <select class="form-control" id="invalidezben" disabled>
                                        <% tipoInv.forEach(function(doc) { %>
                                            <option value="<%= doc.v_cod %>">
                                                <%= doc.v_nombre %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Causa Invalidez</label>
                                    <select class="form-control" id="causainvalidezben">
                                        <option>Sin Información</option>
                                        <% tipoEnf.forEach(function(doc) { %>
                                            <option value="<%= doc.v_cod %>">
                                                <%= doc.v_nombre %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-3">
                                    <label>Fec. Invalidez</label>
                                    <input type="date" class="form-control" id="fechainvalidezben">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Parentesco</label>
                                    <select class="form-control" id="parentescoben" disabled>
                                        <% tipoPar.forEach(function(doc) { %>
                                            <option value="<%= doc.v_cod %>">
                                                <%= doc.v_nombre %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Derecho a Pensión</label>
                                    <select class="form-control" id="derpenben" disabled>
                                        <option value="1">Si</option>
                                        <option value="2">No</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Beneficio Estudiante :</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="estudiantesi"
                                            name="estudiantesi" value="1">
                                        <label class="form-check-label" for="estudiantesi">Estudiante</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-3">
                                    <label>% Pensión</label>
                                    <input type="text" class="form-control" id="prcpenben" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Pensión</label>
                                    <input type="text" class="form-control" id="montopenben" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Marcar :</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="protecdatosben"
                                            name="protecdatosben" value="1">
                                        <label class="form-check-label" for="protecdatosben">Protección de Datos</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="boletapagben"
                                            name="boletapagben" value="1">
                                        <label class="form-check-label" for="boletapagben">Boleta de Pago</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Marcar en caso de Exclusiones :</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="excluyefall"
                                            name="excluyefall" value="1">
                                        <label class="form-check-label" for="excluyefall">Por Fallecimiento</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="excluyemayor"
                                            name="excluyemayor" value="1">
                                        <label class="form-check-label" for="excluyemayor">Por Mayoria de edad</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="reset" class="btn btn-secondary"><i class="fas fa-times"></i>
                                    Cancelar/Limpiar</button>
                                <button type="submit" id="btnActualizarBen" class="btn btn-primary ml-2"><i class="fas fa-save"></i>
                                    Actualizar Datos</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="domicilioben" role="tabpanel">
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Dirección Expediente</label>
                                    <input type="text" id="txtDireccionoExp" class="form-control"
                                        placeholder="Escribe una dirección...">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Ubigeo Expediente</label>
                                    <div class="input-group mb-2">
                                        <input type="text" id="txtUbigeoExpBen" class="form-control"
                                            placeholder="Ubigeo expediente..." readonly>
                                        <button type="button" class="btn btn-outline-info btnUbigeo"
                                            data-bs-toggle="modal" data-bs-target="#modalUbigeo"
                                            data-targetinput="txtUbigeoExpBen">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Dirección Correspondencia</label>
                                    <input type="text" id="txtDireccionCor" class="form-control"
                                        placeholder="Escribe una dirección...">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Ubigeo Correspondencia</label>
                                    <div class="input-group mb-2">
                                        <input type="text" id="txtUbigeoCorBen" class="form-control"
                                            placeholder="Ubigeo correspondencia..." readonly>
                                        <button type="button" class="btn btn-outline-info btnUbigeo"
                                            data-bs-toggle="modal" data-bs-target="#modalUbigeo"
                                            data-targetinput="txtUbigeoCorBen">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-4">
                                    <label>Correo Electrónico</label>
                                    <input type="email" class="form-control" placeholder="Escribe un email..." required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Correo Electrónico 2</label>
                                    <input type="email" class="form-control" placeholder="Escribe un email..." required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Correo Electrónico 3</label>
                                    <input type="email" class="form-control" placeholder="Escribe un email..." required>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-4">
                                    <label>Teléfono</label>
                                    <input type="text" class="form-control" placeholder="Escribe un numero...">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Teléfono 2</label>
                                    <input type="text" class="form-control" placeholder="Escribe un numero...">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Teléfono 3</label>
                                    <input type="text" class="form-control" placeholder="Escribe un numero...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-end">
                <button id="btnGuardarPrepoliza" class="btn btn-primary mt-2">Crear Pre Poliza</button>
                <button id="btnCancelar" class="btn btn-primary mt-2">Salir</button>
            </div>
            </div>
        </div>
    </div>

</main>
<!-- Modal Ubigeo -->
<div class="modal fade" id="modalUbigeo" tabindex="-1" aria-labelledby="modalUbigeoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg border-0">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="modalUbigeoLabel">Seleccionar Ubigeo</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Región</label>
                    <select id="regionSelect" class="form-select"></select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Provincia</label>
                    <select id="provinciaSelect" class="form-select"></select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Distrito</label>
                    <select id="distritoSelect" class="form-select"></select>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="btnSeleccionarUbigeo" class="btn btn-info">Selecionar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="/js/prcprepolizas.js"></script>