<main class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="h4 mb-4 text-primary fw-bold">
                游늭 Simulador de estudios de Cotizaci칩n
            </h1>
            <!-- Wizard -->
            <div class="card shadow">
                <div class="card-body">
                    <div id="wizard">
                        <!-- Paso 1: Asegurado -->
                        <div class="wizard-step active" id="step1">
                            <h5>Datos del Asegurado</h5>
                            <hr>
                            <form id="formAsegurado">
                                <div class="row">
                                    <!-- Tipo Documento -->
                                    <div class="col-md-2 mb-3">
                                        <label for="tipoDoc">Tipo Documento</label>
                                        <select class="form-control" id="aseTipoDoc" name="aseTipoDoc">
                                            <option value="">-- Seleccione --</option>
                                            <% tipodoc.forEach(function(doc) { %>
                                                <option value="<%= doc.v_cod %>">
                                                    <%= doc.v_nombre %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <!-- <select class="form-control" id="tipoDoc" required>
                                            <option value="">-- Seleccione --</option>
                                            <option value="DNI">DNI</option>
                                            <option value="CE">Carn칠 Extranjer칤a</option>
                                            <option value="PAS">Pasaporte</option>
                                        </select> -->
                                    </div>

                                    <!-- N칰mero Documento -->
                                    <div class="col-md-2 mb-3">
                                        <label for="numDoc">N칰m. Documento</label>
                                        <input type="text" class="form-control" id="aseNumDoc" required>
                                    </div>

                                    <!-- CUSPP -->
                                    <div class="col-md-2 mb-3">
                                        <label for="cuspp">CUSPP</label>
                                        <input type="text" class="form-control" id="aseCuspp">
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Nombres -->
                                    <div class="col-md-4 mb-3">
                                        <label for="nombres">Nombres</label>
                                        <input type="text" class="form-control" id="aseNombres">
                                    </div>

                                    <!-- Apellido Paterno -->
                                    <div class="col-md-4 mb-3">
                                        <label for="apellidoPat">Apellido Paterno</label>
                                        <input type="text" class="form-control" id="aseApellidoPat">
                                    </div>

                                    <!-- Apellido Materno -->
                                    <div class="col-md-4 mb-3">
                                        <label for="apellidoMat">Apellido Materno</label>
                                        <input type="text" class="form-control" id="aseApellidoMat">
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Departamento -->
                                    <div class="col-md-2 mb-3">
                                        <label for="departamento">Departamento</label>
                                        <select class="form-control" id="aseDepartamento">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>

                                    <!-- Provincia -->
                                    <div class="col-md-2 mb-3">
                                        <label for="provincia">Provincia</label>
                                        <select class="form-control" id="aseProvincia">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>

                                    <!-- Distrito -->
                                    <div class="col-md-2 mb-3">
                                        <label for="distrito">Distrito</label>
                                        <select class="form-control" id="aseDistrito">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Sexo -->
                                    <div class="col-md-2 mb-3">
                                        <label for="sexo">Sexo</label>
                                        <select class="form-control" id="aseSexo" name="aseSexo">
                                            <option value="">-- Seleccione --</option>
                                            <% tiposex.forEach(function(doc) { %>
                                                <option value="<%= doc.v_cod %>">
                                                    <%= doc.v_nombre %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <!-- <select class="form-control" id="sexo">
                                            <option value="">-- Seleccione --</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                        </select> -->
                                    </div>

                                    <!-- Fecha Nacimiento -->
                                    <div class="col-md-2 mb-3">
                                        <label for="fechaNac">Fecha Nacimiento</label>
                                        <input type="date" class="form-control" id="aseFechaNac">
                                    </div>

                                    <!-- AFP -->
                                    <div class="col-md-2 mb-3">
                                        <label for="afp">AFP</label>
                                        <select class="form-control" id="aseAfp" name="aseAfp">
                                            <option value="">-- Seleccione --</option>
                                            <% tipoAfp.forEach(function(doc) { %>
                                                <option value="<%= doc.v_cod %>" data-valor="<%= doc.n_valor %>">
                                                    <%= doc.v_nombre %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <input type="hidden" id="ValAfp" name="ValAfp">
                                        <!-- <select class="form-control" id="afp">
                                            <option value="">-- Seleccione --</option>
                                            <option value="PRIMA">PRIMA</option>
                                            <option value="INTEGRA">INTEGRA</option>
                                            <option value="HABITAT">HABITAT</option>
                                        </select> -->
                                    </div>

                                    <!-- Tipo de Pensi칩n -->
                                    <div class="col-md-2 mb-3">
                                        <label for="pension">Tipo de Pensi칩n</label>
                                        <select class="form-control" id="asePension" name="pension">
                                            <option value="">-- Seleccione --</option>
                                            <% tipoPen.forEach(function(doc) { %>
                                                <option value="<%= doc.v_cod %>">
                                                    <%= doc.v_nombre %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <!-- <select class="form-control" id="asePension" name="asePension">
                                            <option value="">-- Seleccione --</option>
                                            <option value="J">JUBILACION</option>
                                            <option value="I">INVALIDEZ</option>
                                            <option value="S">SOBREVIVECNIA</option>
                                        </select> -->
                                    </div>

                                    <!-- Tipo de invalidez -->
                                    <div class="col-md-2 mb-3">
                                        <label for="pension">Tipo de Invalidez</label>
                                        <select class="form-control" id="aseInvalidez" name="aseInvalidez">
                                            <option value="">-- Seleccione --</option>
                                            <% tipoInv.forEach(function(doc) { %>
                                                <option value="<%= doc.v_cod %>">
                                                    <%= doc.v_nombre %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>

                                    <!-- CIC -->
                                    <div class="col-md-2 mb-3">
                                        <label for="cic">CIC</label>
                                        <input type="text" class="form-control" id="aseCic">
                                    </div>
                                </div>



                                <div class="row">
                                    <!-- Fecha Devengue -->
                                    <div class="col-md-2 mb-3">
                                        <label for="fechaDev">Fecha Devengue</label>
                                        <input type="date" class="form-control" id="aseFechaDev">
                                    </div>

                                    <!-- Fecha Devengue Solicitud -->
                                    <div class="col-md-2 mb-3">
                                        <label for="fechaDevSol">Devengue Solicitud</label>
                                        <input type="date" class="form-control" id="aseFechaDevSol">
                                    </div>

                                    <!-- Gasto Sepelio -->
                                    <div class="col-md-2 mb-3">
                                        <label for="gastoSep">Gasto Sepelio</label>
                                        <input type="text" class="form-control" id="gastoSep" value="<%= gasSep %>"
                                            disabled>
                                    </div>

                                    <!-- Tipo de Cambio -->
                                    <div class="col-md-2 mb-3">
                                        <label for="tipoCambio">Tipo Cambio</label>
                                        <input type="text" class="form-control" id="tipoCambio" value="<%= tipCam %>"
                                            disabled>
                                    </div>
                                </div>
                                <input type="hidden" id="GasEmi" name="GasEmi" value="<%= Gastos.Gastosemi %>">
                                <input type="hidden" id="GasAdm" name="GasAdm" value="<%= Gastos.Gastosmant %>">
                                <input type="hidden" id="GasImp" name="GasImp" value="<%= Gastos.Impuestos %>">

                            </form>
                            <button class="btn btn-primary float-end nextBtn">Siguiente</button>
                        </div>

                        <!-- Paso 2: Beneficiarios -->
                        <div class="wizard-step d-none" id="step2">
                            <h5>Registro de Beneficiarios</h5>
                            <hr>

                            <!-- Bot칩n para abrir modal -->
                            <button class="btn btn-sm btn-primary mb-3" data-bs-toggle="modal"
                                data-bs-target="#modalBeneficiario">
                                + Agregar Beneficiario
                            </button>

                            <!-- Tabla de beneficiarios -->
                            <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                                <table class="table table-bordered table-hover align-middle text-center"
                                    id="tablaBeneficiarios">
                                    <thead class="table-light sticky-header">
                                        <tr>
                                            <th>#</th>
                                            <th>Parentesco</th>
                                            <th>Sexo</th>
                                            <th>Fecha Nac.</th>
                                            <th>Invalidez</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Aqu칤 se insertar치n din치micamente los beneficiarios -->
                                    </tbody>
                                </table>
                            </div>


                            <button class="btn btn-secondary prevBtn">Anterior</button>
                            <button class="btn btn-primary float-end nextBtn">Siguiente</button>
                        </div>

                        <!-- Paso 3: Modalidades -->
                        <div class="wizard-step d-none" id="step3">
                            <h5>Modalidades de Cotizaci칩n</h5>
                            <hr>
                            <button class="btn btn-sm btn-primary mb-3" data-bs-toggle="modal"
                                data-bs-target="#modalAgregarModalidad">
                                + Agregar Modalidad
                            </button>
                            <button class="btn btn-sm btn-primary mb-3" id="btnModalidasDefsinPG">
                                + Agregar Pack sin PG
                            </button>
                            <button class="btn btn-sm btn-primary mb-3" id="btnModalidasDefconPG">
                                + Agregar Pack con PG
                            </button>
                            <button class="btn btn-sm btn-primary mb-3 float-end" id="btnCalcular">Calcular</button>
                            
                            <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                                <table class="table table-bordered table-hover align-middle text-center"
                                    id="tablaModalidades">
                                    <thead class="table-light sticky-header">
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Tipo de Renta</th> -->
                                            <th>Moneda</th>
                                            <th>Diferido</th>
                                            <th>Garantizado</th>
                                            <th>Gratificaci칩n</th>
                                            <th>Primer Tramo</th>
                                            <th>Segundo Tramo</th>
                                            <th>% Renta AFP</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Se insertan din치micamente -->
                                    </tbody>
                                </table>
                            </div>
                            <br>

                            <br>
                            <br>
                            <h5>Resultados</h5>
                            <hr>
                            <div class="table-responsive" style="display: none">
                                <table class="table table-bordered" id="tablaResultados">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID Mod</th>
                                            <!-- <th>Pension Referencia</th> -->
                                            <th>Pension AFP</th>
                                            <th>Pension CIA</th>
                                            <th>Prima AFP</th>
                                            <th>Prima CIA</th>
                                            <th>Tasa VTA</th>
                                            <!-- <th>Tasa TCI</th>
                                            <th>Tasa TCE</th>
                                            <th>Tasa TIR</th>
                                            <th>Perdida</th> -->
                                            <th>Pensiones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Aqu칤 se llenar치 din치micamente -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" id="cardContainer"></div>
                            <button class="btn btn-secondary prevBtn">Anterior</button>
                            <button class="btn btn-secondary float-end" id="btnGuardar">Guardar y Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal Beneficiario -->
<div class="modal fade" id="modalBeneficiario" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Registro de Beneficiario</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formBeneficiario" class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Tipo Documento</label>
                        <select class="form-control" id="benTipoDoc" name="benTipoDoc">
                            <option value="">-- Seleccione --</option>
                            <% tipodoc.forEach(function(doc) { %>
                                <option value="<%= doc.v_cod %>">
                                    <%= doc.v_nombre %>
                                </option>
                                <% }) %>
                        </select>
                        <!-- <select class="form-control" id="benTipoDoc">
                            <option value="">-- Seleccione --</option>
                            <option value="DNI">DNI</option>
                            <option value="CE">Carn칠 Extranjer칤a</option>
                        </select> -->
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">N칰m. Documento</label>
                        <input type="text" class="form-control" id="benNumDoc">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Parentesco</label>
                        <select class="form-control" id="benParentesco" name="benParentesco">
                            <option value="">-- Seleccione --</option>
                            <% tipoPar.forEach(function(doc) { %>
                                <option value="<%= doc.v_cod %>">
                                    <%= doc.v_nombre %>
                                </option>
                                <% }) %>
                        </select>
                        <!-- <select class="form-control" id="benParentesco">
                            <option value="">-- Seleccione --</option>
                            <option value="conyuge">C칩nyuge</option>
                            <option value="hijo">Hijo</option>
                        </select> -->
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Fecha Nacimiento</label>
                        <input type="date" class="form-control" id="benFechaNac">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Sexo</label>
                        <select class="form-control" id="benSexo" name="benSexo">
                            <option value="">-- Seleccione --</option>
                            <% tiposex.forEach(function(doc) { %>
                                <option value="<%= doc.v_cod %>">
                                    <%= doc.v_nombre %>
                                </option>
                                <% }) %>
                        </select>
                        <!-- <select class="form-control" id="benSexo">
                            <option value="">-- Seleccione --</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select> -->
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Situaci칩n Invalidez</label>
                        <select class="form-control" id="benInvalidez">
                            <option value="">-- Seleccione --</option>
                            <option value="1">Sano</option>
                            <option value="2">Invalido</option>
                        </select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="btnGuardarBeneficiario">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar modalidad -->
<div class="modal fade" id="modalAgregarModalidad" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Agregar Modalidad</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formModalidad" class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Moneda</label>
                        <select class="form-control" id="moneda" name="moneda">
                            <option value="">-- Seleccione --</option>
                            <% tipoMon.forEach(function(doc) { %>
                                <option value="<%= doc.v_cod %>">
                                    <%= doc.v_nombre %>
                                </option>
                                <% }) %>
                        </select>
                        <!--  <select id="moneda" class="form-control" required>
                            <option value="">-- Seleccione --</option>
                            <option value="PEN">Soles</option>
                            <option value="USD">D칩lares</option>
                        </select> -->
                    </div>
                    <!-- 
                    <div class="col-md-4">
                        <label class="form-label">Modalidad</label>
                        <select class="form-control" id="modalidad" name="modalidad">
                            <option value="">-- Seleccione --</option>
                            <% tipoMod.forEach(function(doc) { %>
                                <option value="<%= doc.v_cod %>">
                                    <%= doc.v_nombre %>
                                </option>
                                <% }) %>
                        </select>
                    </div> -->

                    <!-- <div class="col-md-8">
                        <label class="form-label">Tipo de Renta</label>
                        <select class="form-control" id="tipoRenta" name="tipoRenta">
                            <option value="">-- Seleccione --</option>
                            <% tipoRen.forEach(function(doc) { %>
                                <option value="<%= doc.v_cod %>">
                                    <%= doc.v_nombre %>
                                </option>
                                <% }) %>
                        </select>
                    </div> -->

                    <div class="col-md-4">
                        <label class="form-label">Periodo Diferido</label>
                        <select id="periodoDiferido" name="periodoDiferido" class="form-control">
                            <option value="">-- Seleccione --</option>
                            <option value="1">1 A침os</option>
                            <option value="2">2 A침os</option>
                            <option value="3">3 A침os</option>
                            <option value="4">4 A침os</option>
                            <option value="5">5 A침os</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Periodo Garantizado</label>
                        <select id="periodoGarantizado" name="periodoGarantizado" class="form-control">
                            <option value="">-- Seleccione --</option>
                            <option value="10">10 a침os</option>
                            <option value="15">15 a침os</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Gratificaci칩n</label>
                        <select id="gratificacion" class="form-control">
                            <option value="">-- Seleccione --</option>
                            <option value="S">S칤</option>
                            <option value="N">No</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Primer Tramo</label>
                        <select id="primerTramo" class="form-control">
                            <option value="">-- Seleccione --</option>
                            <option value="1">1 a침os</option>
                            <option value="2">2 a침os</option>
                            <option value="3">3 a침os</option>
                            <option value="4">4 a침os</option>
                            <option value="5">5 a침os</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Segundo Tramo</label>
                        <select id="segundoTramo" class="form-control">
                            <option value="">-- Seleccione --</option>
                            <option value="50">50 %</option>
                            <option value="100">100 %</option>
                            <option value="200">200 %</option>
                        </select>
                    </div>

                    <!-- <div class="col-md-4">
                        <label class="form-label">% Comisi칩n AFP</label>
                        <input type="text" id="comisionAFP" class="form-control" placeholder="%" disabled>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="btnGuardarModalidad" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Loader oculto por defecto -->
<div id="loader" style="display:none; position: fixed; top:0; left:0; width:100%; height:100%; 
     background: rgba(255,255,255,0.7); z-index:9999; text-align:center; padding-top:20%;">
    <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
        <span class="visually-hidden">Cargando...</span>
    </div>
    <p class="mt-3">Procesando tu solicitud, por favor espera...</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/estudios.js"></script>
